@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.4;
}

.hero {
    background: url(images/background.png);
    background-size: cover;
    background-color: black;
}

svg {
    width: 80px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

img {
    width: 30px;
}

.img {
  padding: 5px;
  width: 140px;
  float: left;
}

.opis {
    padding: 40px;
    margin-top: 5px;
    text-align: center;
}

h3{
    padding: 15px;
}

h1, h2, p{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

#content a {
    padding: 10px;
  display: none;
  text-align: center;
}

#content .visible {
  display: block;
}

#showMoreBtn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    background-color: #80848a;
    border-radius: 4px;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    gap: 30%;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}